*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.inside {
  margin: 50px auto;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}


label{
    font-size: 18px;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"]{
    width: 28em;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2) ;
}
#btn{
    width: 35em;
    height: 25px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    
}